<div class="header">
  <mat-icon>assignment_turned_in</mat-icon>
  <h1>Task management</h1>
</div>
<div class="container">
  <div class="task-board" cdkDropList [cdkDropListData]="tracks" (cdkDropListDropped)="onTrackDrop($event)" >

    <div class="card-list" *ngFor="let track of tracks">
      <h2 class="card-list-title" cdkDragHandle>{{track.title}}</h2>
      <div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks"
        [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTalkDrop($event)">

          <task-management-task [title]="task.title" [description]="task.description" [type]="task.type" *ngFor="let task of track.tasks" cdkDrag cdkDragBoundary=".task-board">
          </task-management-task>

      </div>
      </div>
  </div>

  <div class="menu">
    <div class="chat">
      <task-management-chat></task-management-chat>
    </div>
  </div>
</div>



