<div class="content">

<div class="task-board">

  <div class="board" cdkDropList [cdkDropListData]="tracks" (cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal">

    <div *ngFor="let track of tracks">

      <h2 cdkDragHandle>{{track.title}}</h2>

      <div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks"
        [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTalkDrop($event)">

          <task-management-task [title]="task.title" [description]="task.description" *ngFor="let task of track.tasks" cdkDrag cdkDragBoundary=".task-board">

          </task-management-task>

      </div>

    </div>

  </div>
</div>



  <div class="menu">
    <div class="chat">
      <task-management-chat></task-management-chat>
    </div>
  </div>
</div>
